##################################################
# Auth.js
##################################################
# Generated with: openssl rand -base64 32
AUTH_SECRET=

##################################################
# Google login in Google Cloud Console
##################################################
# Add both of these to the allowed callback URLs
# http://localhost:3000
# http://localhost:3000/api/auth/callback/google
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

##################################################
# MongoDB
#########################
MONGODB_URI=
MONGODB_DB_NAME=
